@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="text-center" style="color:Background">Welcome to ZooWorld</h1>
    <style>
        body {
            background-image: url('AnimalsColage.jpg');
            background-repeat: no-repeat;
            background-position :center;
            background-size: 70% 70%;
        }
     </style>
 </div>
